version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    assignees:
      - "copilot-swe-agent"
    commit-message:
      prefix: "Create a lol file"
